<!DOCTYPE html>

<html>

    <head>

        <title>Espace Membre !</title>

    </head>

    <body>

        <h1>Hello {{ Nom }} {{ Prenom }} !</h1>

        

        <p>
		Vos informations personnelles :
            Numéro d'adhérent : {{ id }} :<br />
			Adresse : {{ Adresse }}<br />
			Cotisation :
			Enfants : Oui / Non ? Puis leurs nom ?
			Mail :
			Permis : Oui / Non
			
		Activités :	
			Nom de l'activité :
			Lieu :
			Rôle dans cette activité :
			

        </p>

    </body>

</html>

