{% extends "CCIRamScoBundle::layout.html.twig" %}



{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block body %}


	 <div class="row">
		<div class="col-sm-6 info">
			<h2>Infos</h2>
			<div>
			{# Liste des infos
				<ul>
				  {% for info in liste_infos %}
					<li>{{ info.item }}</li>
				  {% else %}
					<li>Pas d'info trouvé.</li>
				  {% endfor %}
				</ul> #}
				
				{# Exemple #}
				<ul>
					<li>Première info : ce site c'est trop de la balle !</li>
					<li>Deuxième info : c'est super chiant à prendre en main</li>
					<li>Troisième info : Je galère sur des trucs à la con...</li>
					<li>Quatième info : FARYM c'est notre nouveau nom de crew ;)</li>
				</ul> 
				
			</div>

		</div>
		
		
		
		<div class="col-sm-6 actu">
			<h2>Actualités</h2>
			<div>
			{# Liste des actualités 
				<ul>
				  {% for actu in liste_actus %}
					<li>{{ actu.item }}</li>
				  {% else %}
					<li>Pas d'actualité trouvé.</li>
				  {% endfor %}
				</ul> #}
				
				{# Exemple #}
				<ul>
					<li>Le 19/03/16 : Demain RDV chez Yasmina à 14h30</lih>
					<li>Le 19/03/16 : Qui m'a piqué ma carotte ?</li>
					<li>Le 18/03/16 : Rando roller pour les braves</li>
					<li>Le 17/03/16 : Cours de Symfony annulé</li>
				</ul>
			</div>
		</div>		
	</div>
	
	<p><img src="tapis_volant.jpg" />image de bus</p>

 

{% endblock %}
