<html>

    <head>

        <title>Espace Membre !</title>

    </head>

    <body>

        <h1>Hello {{ Nom }} {{ Prenom }} !</h1>

        

        <p>
		Vos informations personnelles :
            Numéro d'adhérent : {{ id }} :<br />
			Adresse : {{ Adresse }}<br />
			Cotisation :<br />
			Enfants : Oui / Non ? Puis leurs nom ?<br />
			Mail :<br />
			Permis : Oui / Non<br />
			<br />
		Activités :	<br />
			Nom de l'activité :<br />
			Lieu :<br />
			Rôle dans cette activité :<br />
			

        </p>

    </body>

</html>
